<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config:config xmlns:placeholders="http://httprobot/rml/datatypes/placeholders/" xmlns:config="http://httprobot/rml/" xmlns:operators="http://httprobot/rml/datatypes/placeholders/operators/" xmlns:datatypes="http://httprobot/rml/datatypes/" destinationPath="config.xml" inherited="false">
    <config:runtimeOptions>[RML_CHECK, SERVER_CHECK, SHOW_LOAD_EVENTS, SHOW_RENDER_EVENTS, THROW_EXCEPTIONS]</config:runtimeOptions>
    <config:serverInfo inherited="true" uuid="8e4c98f4-6238-4bc5-8eb9-05f2260875c3">
        <datatypes:dataView dbSchema="DB_SCHEMA_NAME" inherited="true" uuid="2ff0f369-9d94-429b-87b5-cdea927faec1">
            <datatypes:fieldRef fieldType="STRING" inherited="true" uuid="0768b8c4-debb-44c3-8059-3076b52e6fcd">
                <datatypes:fieldName>DV_FIELDNAME_1</datatypes:fieldName>
            </datatypes:fieldRef>
            <datatypes:fieldRef fieldType="LINK" inherited="true" uuid="86d51697-ac5c-473a-b229-ed6e64acf5f6">
                <datatypes:fieldName>DV_FIELDNAME_2</datatypes:fieldName>
            </datatypes:fieldRef>
        </datatypes:dataView>
        <datatypes:lastUpdate>2013/12/18 16:37:28</datatypes:lastUpdate>
        <datatypes:serverName>peliculasyonkis</datatypes:serverName>
        <datatypes:serverUrl>http://www.peliculasyonkis.com/</datatypes:serverUrl>
        <datatypes:startUrl>lista-de-peliculas/</datatypes:startUrl>
        <datatypes:steps inherited="true" uuid="968c7200-fd70-4ff1-982a-b6c41acd75bf">
            <datatypes:step inherited="true" uuid="371c41e5-0e50-4e37-86c3-7d7be22dd50b">
                <datatypes:action inherited="true" uuid="65e36c8f-ea33-4067-8636-a5cca07dfe8f">
                    <datatypes:httpAddress>[@param]</datatypes:httpAddress>
                    <datatypes:method>hoalhoalahola</datatypes:method>
                    <datatypes:type>GET</datatypes:type>
                    <datatypes:webOptions inherited="true">
                        <datatypes:activeXNativeEnabled>false</datatypes:activeXNativeEnabled>
                        <datatypes:appletEnabled>false</datatypes:appletEnabled>
                        <datatypes:browserVersion>FIREFOX_36</datatypes:browserVersion>
                        <datatypes:cssEnabled>false</datatypes:cssEnabled>
                        <datatypes:javaScriptEnabled>false</datatypes:javaScriptEnabled>
                        <datatypes:periodTime>5000</datatypes:periodTime>
                        <datatypes:popupBlockerEnabled>false</datatypes:popupBlockerEnabled>
                    </datatypes:webOptions>
                </datatypes:action>
                <datatypes:fields inherited="true" uuid="a7181a9d-aadf-4836-8455-3ff17117927b">
                    <datatypes:field inherited="true">
                        <datatypes:fieldName>DV_FIELDNAME_1</datatypes:fieldName>
                        <datatypes:fieldType>STRING</datatypes:fieldType>
                        <datatypes:rules inherited="true" uuid="55a25d7f-bff6-4e9c-8214-9835401aa112">
                            <datatypes:rule inherited="true" uuid="0424c267-1db0-49d7-a93c-5f82a1182205">
<datatypes:htmlBody inherited="true" pointer="HTML_BODY" uuid="6d6990df-3736-4088-ac02-fa8b86296621">
    <contains inherited="true" uuid="10c3c4ef-7511-4324-ba03-6795486a712e">
        <operators:getField inherited="true">
            <operators:fieldName>DV_FIELDNAME_1</operators:fieldName>
            <operators:value>OLA</operators:value>
        </operators:getField>
        <operators:value>OLA</operators:value>
    </contains>
    <replace inherited="true" uuid="dcd97258-c165-4ba1-b026-0a14f1d60005">
        <operators:getField inherited="true">
            <operators:fieldName>DV_FIELDNAME3</operators:fieldName>
            <operators:value>BLABLABLABLA</operators:value>
        </operators:getField>
        <operators:newString>HOLA</operators:newString>
        <operators:oldString>ADEU</operators:oldString>
    </replace>
</datatypes:htmlBody>
                            </datatypes:rule>
                        </datatypes:rules>
                    </datatypes:field>
                    <datatypes:field inherited="true">
                        <datatypes:fieldName>DV_FIELDNAME_2</datatypes:fieldName>
                        <datatypes:fieldType>LINK</datatypes:fieldType>
                        <datatypes:rules inherited="true" uuid="6bb8cf02-cd9e-4198-8990-2484b15b449e">
                            <datatypes:rule inherited="true" uuid="80b07f19-4104-4be6-a473-763b5e9505d2">
<datatypes:httpRequest inherited="true" pointer="HTTP_ADDRESS" uuid="90a77f55-ad12-4050-9055-9e4312f15023">
    <remove inherited="true" uuid="c8c83f73-e5ee-4611-9370-4a09f9a58a5a">
        <operators:endIndex inherited="true">
            <operators:stringValue>holalalalala</operators:stringValue>
        </operators:endIndex>
        <operators:getField inherited="true">
            <operators:fieldName>DV_FIELDNAME2</operators:fieldName>
            <operators:value>OLALLALALA</operators:value>
        </operators:getField>
        <operators:startIndex inherited="true">
            <operators:stringValue>Adeueueueueueu</operators:stringValue>
        </operators:startIndex>
    </remove>
</datatypes:httpRequest>
                            </datatypes:rule>
                        </datatypes:rules>
                    </datatypes:field>
                </datatypes:fields>
                <datatypes:step inherited="true" uuid="3471c501-eb29-44ac-8f1e-fb4b8adeab2c">
                    <datatypes:action inherited="true" uuid="8a4ba352-7fef-4826-a8fb-cc1c19ecaad2">
                        <datatypes:httpAddress>[@start_url]/[@param]</datatypes:httpAddress>
                        <datatypes:method>adeueueueueu</datatypes:method>
                        <datatypes:webOptions inherited="true">
                            <datatypes:activeXNativeEnabled>false</datatypes:activeXNativeEnabled>
                            <datatypes:appletEnabled>false</datatypes:appletEnabled>
                            <datatypes:browserVersion>FIREFOX_36</datatypes:browserVersion>
                            <datatypes:cssEnabled>false</datatypes:cssEnabled>
                            <datatypes:javaScriptEnabled>false</datatypes:javaScriptEnabled>
                            <datatypes:periodTime>5000</datatypes:periodTime>
                            <datatypes:popupBlockerEnabled>false</datatypes:popupBlockerEnabled>
                        </datatypes:webOptions>
                    </datatypes:action>
                    <datatypes:fields inherited="true" uuid="a802d0df-eea6-46e7-9821-60212c2b3d2f">
                        <datatypes:field inherited="true">
                            <datatypes:fieldName>DV_FIELDNAME_2</datatypes:fieldName>
                            <datatypes:fieldType>LINK</datatypes:fieldType>
                            <datatypes:rules inherited="true" uuid="6bb8cf02-cd9e-4198-8990-2484b15b449e">
<datatypes:rule inherited="true" uuid="80b07f19-4104-4be6-a473-763b5e9505d2">
    <datatypes:httpRequest inherited="true" pointer="HTTP_ADDRESS" uuid="90a77f55-ad12-4050-9055-9e4312f15023">
        <remove inherited="true" uuid="c8c83f73-e5ee-4611-9370-4a09f9a58a5a">
            <operators:endIndex inherited="true">
                <operators:stringValue>holalalalala</operators:stringValue>
            </operators:endIndex>
            <operators:getField inherited="true">
                <operators:fieldName>DV_FIELDNAME2</operators:fieldName>
                <operators:value>OLALLALALA</operators:value>
            </operators:getField>
            <operators:startIndex inherited="true">
                <operators:stringValue>Adeueueueueueu</operators:stringValue>
            </operators:startIndex>
        </remove>
    </datatypes:httpRequest>
</datatypes:rule>
                            </datatypes:rules>
                        </datatypes:field>
                    </datatypes:fields>
                </datatypes:step>
            </datatypes:step>
        </datatypes:steps>
    </config:serverInfo>
</config:config>
