<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config:config xmlns:placeholders="http://httprobot/rml/datatypes/placeholders/" xmlns:config="http://httprobot/rml/" xmlns:params="http://httprobot/rml/params/" xmlns:operators="http://httprobot/rml/datatypes/placeholders/operators/" xmlns:contents="http://httprobot/rml/datatypes/contents/" xmlns:datatypes="http://httprobot/rml/datatypes/" destinationPath="config.xml" inherited="false">
    <config:runtimeOptions>[RML_CHECK, SERVER_CHECK, SHOW_LOAD_EVENTS, SHOW_RENDER_EVENTS, THROW_EXCEPTIONS]</config:runtimeOptions>
    <config:serverInfo inherited="true" uuid="8cd130b0-5b7c-489f-b824-66c552565848">
        <datatypes:action inherited="true" strictMode="true" uuid="07f77fb5-04d4-4cb2-a3d4-1e90249d4f33">
            <datatypes:httpAddress>[@server_url][@start_url]</datatypes:httpAddress>
            <datatypes:webOptions inherited="true">
                <datatypes:activeXNativeEnabled>false</datatypes:activeXNativeEnabled>
                <datatypes:appletEnabled>false</datatypes:appletEnabled>
                <datatypes:browserVersion>FIREFOX_17</datatypes:browserVersion>
                <datatypes:cssEnabled>false</datatypes:cssEnabled>
                <datatypes:javaScriptEnabled>false</datatypes:javaScriptEnabled>
                <datatypes:paginatorEnabled>false</datatypes:paginatorEnabled>
                <datatypes:periodTime>5000</datatypes:periodTime>
                <datatypes:popupBlockerEnabled>false</datatypes:popupBlockerEnabled>
            </datatypes:webOptions>
        </datatypes:action>
        <datatypes:dataView dbSchema="DB_SCHEMA_NAME" inherited="true" uuid="7727face-bd81-4a85-b060-e067bbd92eeb">
            <contents:fieldRef dataType="TEXT" inherited="true" name="FieldRef1" uuid="4da43228-b135-4114-9e8d-482041d677c4"/>
            <contents:fieldRef dataType="LINK" inherited="true" name="FieldRef2" uuid="7266a4a2-8e6c-4c39-951c-2e6b709b7870"/>
        </datatypes:dataView>
        <datatypes:lastUpdate>2014/03/06 12:07:11</datatypes:lastUpdate>
        <datatypes:rootDocument inherited="true" uuid="cdaa5626-c48f-4b42-a0cb-3b881785f838">
            <datatypes:document inherited="true" uuid="e5397fdd-90fb-4efd-a0e6-ce067b1d9759">
                <datatypes:action inherited="true" strictMode="true" uuid="d698a621-18e7-4723-a02d-d00f49a98141">
                    <datatypes:bwords inherited="true" paramName="[@bword]" paramType="href-banned" uuid="9ab99e8c-c7a5-4ac1-8c06-24e564a0e38b" value="genero-"/>
                    <datatypes:httpAddress>[@server_url][@start_url][@action]</datatypes:httpAddress>
                    <datatypes:webOptions inherited="true">
                        <datatypes:activeXNativeEnabled>false</datatypes:activeXNativeEnabled>
                        <datatypes:appletEnabled>false</datatypes:appletEnabled>
                        <datatypes:browserVersion>FIREFOX_17</datatypes:browserVersion>
                        <datatypes:cssEnabled>false</datatypes:cssEnabled>
                        <datatypes:javaScriptEnabled>false</datatypes:javaScriptEnabled>
                        <datatypes:paginator inherited="true">
                            <datatypes:anchorValue>Siguiente &gt;&gt;</datatypes:anchorValue>
                            <datatypes:paginatorIncrement>1</datatypes:paginatorIncrement>
                        </datatypes:paginator>
                        <datatypes:paginatorEnabled>true</datatypes:paginatorEnabled>
                        <datatypes:periodTime>5000</datatypes:periodTime>
                        <datatypes:popupBlockerEnabled>false</datatypes:popupBlockerEnabled>
                        <datatypes:type>GET</datatypes:type>
                    </datatypes:webOptions>
                </datatypes:action>
                <datatypes:document inherited="true" uuid="124d35df-32c7-4e20-a75d-81c93b8f58c4">
                    <datatypes:action inherited="true" strictMode="false" uuid="3b1e577b-3e40-42cb-bd42-10ea98fcc36b">
                        <datatypes:constants inherited="true" paramName="[@constant]" paramType="href-constant" uuid="7add06c6-7c8b-48fd-af85-d909a4000cfb" value="torrent/"/>
                        <datatypes:httpAddress>[@server_url][@start_url][@constant][@action]</datatypes:httpAddress>
                        <datatypes:webOptions inherited="true">
                            <datatypes:activeXNativeEnabled>false</datatypes:activeXNativeEnabled>
                            <datatypes:appletEnabled>false</datatypes:appletEnabled>
                            <datatypes:browserVersion>FIREFOX_17</datatypes:browserVersion>
                            <datatypes:cssEnabled>false</datatypes:cssEnabled>
                            <datatypes:javaScriptEnabled>false</datatypes:javaScriptEnabled>
                            <datatypes:paginatorEnabled>false</datatypes:paginatorEnabled>
                            <datatypes:periodTime>5000</datatypes:periodTime>
                            <datatypes:popupBlockerEnabled>false</datatypes:popupBlockerEnabled>
                        </datatypes:webOptions>
                    </datatypes:action>
                    <datatypes:fields inherited="true" uuid="5cc5e561-b6d3-494c-871f-62d8c7883f82">
                        <datatypes:field inherited="true" uuid="46838354-619f-471f-a48c-36b94157356e">
                            <datatypes:fieldName>DV_FIELDNAME_2</datatypes:fieldName>
                            <datatypes:fieldType>LINK</datatypes:fieldType>
                            <datatypes:httpAddress inherited="true" uuid="666d4a40-2773-4d6f-8329-61afb9e08cc2">
								<placeholders:remove inherited="true" uuid="d3f21c9c-fe18-4139-b70c-49ff87dfdec3">
									<operators:endIndex inherited="true">
										<operators:stringValue>holalalalala</operators:stringValue>
									</operators:endIndex>
									<operators:getField inherited="true">
										<operators:fieldName>DV_FIELDNAME2</operators:fieldName>
										<operators:value>OLALLALALA</operators:value>
									</operators:getField>
									<operators:startIndex inherited="true">
										<operators:stringValue>Adeueueueueueu</operators:stringValue>
									</operators:startIndex>
								</placeholders:remove>
                            </datatypes:httpAddress>
                        </datatypes:field>
                    </datatypes:fields>
                </datatypes:document>
                <datatypes:fields inherited="true" uuid="35a46332-3595-4716-8662-89a18c032ccc">
                    <datatypes:field inherited="true" uuid="a0fdaa79-fc2d-4d42-acf8-95ee15b2cb4e">
                        <datatypes:fieldName>DV_FIELDNAME_1</datatypes:fieldName>
                        <datatypes:fieldType>TEXT</datatypes:fieldType>
                        <datatypes:htmlBody inherited="true" uuid="78c35f1c-d521-4259-bdcf-f44233974b09">
                            <placeholders:contains inherited="true" uuid="477dee61-208b-4c28-bb7c-cab4cd638b4d">
								<operators:getField inherited="true">
									<operators:fieldName>DV_FIELDNAME_1</operators:fieldName>
									<operators:value>OLA</operators:value>
								</operators:getField>
								<operators:value>OLA</operators:value>
                            </placeholders:contains>
                            <placeholders:replace inherited="true" uuid="8008c814-b384-4953-90e6-8093f88d00a0">
								<operators:getField inherited="true">
									<operators:fieldName>DV_FIELDNAME3</operators:fieldName>
									<operators:value>BLABLABLABLA</operators:value>
								</operators:getField>
								<operators:newString>HOLA</operators:newString>
								<operators:oldString>ADEU</operators:oldString>
                            </placeholders:replace>
                        </datatypes:htmlBody>
                    </datatypes:field>
                    <datatypes:field inherited="true" uuid="46838354-619f-471f-a48c-36b94157356e">
                        <datatypes:fieldName>DV_FIELDNAME_2</datatypes:fieldName>
                        <datatypes:fieldType>LINK</datatypes:fieldType>
                        <datatypes:httpAddress inherited="true" uuid="666d4a40-2773-4d6f-8329-61afb9e08cc2">
                            <placeholders:remove inherited="true" uuid="d3f21c9c-fe18-4139-b70c-49ff87dfdec3">
								<operators:endIndex inherited="true">
									<operators:stringValue>holalalalala</operators:stringValue>
								</operators:endIndex>
								<operators:getField inherited="true">
									<operators:fieldName>DV_FIELDNAME2</operators:fieldName>
									<operators:value>OLALLALALA</operators:value>
								</operators:getField>
								<operators:startIndex inherited="true">
									<operators:stringValue>Adeueueueueueu</operators:stringValue>
								</operators:startIndex>
                            </placeholders:remove>
                        </datatypes:httpAddress>
                    </datatypes:field>
                </datatypes:fields>
            </datatypes:document>
        </datatypes:rootDocument>
        <datatypes:serverName>divxtotal</datatypes:serverName>
        <datatypes:serverUrl inherited="true" paramName="[@server_url]" paramType="href-constant" uuid="0c573579-4397-4998-91b4-11752534d10e" value="http://www.divxtotal.com/"/>
        <datatypes:startUrl inherited="true" paramName="[@start_url]" paramType="href-constant" uuid="a5eb40aa-3756-4e83-a618-58935fc16d8d" value="peliculas/"/>
    </config:serverInfo>
</config:config>
